.order-book {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.order-book-header, .currency-pair {
}

.currency-pair {
  font-size: 30px;
  column-span: all;
  padding: 5px;
}

.order-column-header {
  font-size: 20px;
  padding: 3px;
}

.column-header-row {
  border-bottom: 1px solid white;
}
