.order-book {
  width: 100%;
  table-layout: fixed;
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.order-book-header, .currency-pair {
  /* border-bottom: 1px solid black; */
}

.currency-pair {
  font-size: 30px;
  column-span: all;
  padding: 5px;
}

.order-column-header {
  font-size: 20px;
  padding: 3px;
}

.insignificant {
  color: #999;
}

.order-data {
  text-align: center;
  padding: 3px 0;
}

.order-boook-body>tr:nth-child(even) {
  background: #294556;
}

/* .order-boook-body>tr:nth-child(even)>.order-data:first-child {
  border-right-color: #eee;
} */

.order-data.price.ask {
  color: #4da53c;
}

.order-data.price.bid {
  color: #ff6939;
}
